<div class="info-container d-flex flex-column align-items-center justify-content-center">
    <div class="info-item d-flex">
        <i class="bi bi-geo-alt flex-shrink-0"></i>
        <div>
            <h4>Location:</h4>
            <p>60,Electronic Complex, Pardeshipura, Indore IN 452010</p>
        </div>
    </div><!-- End Info Item -->

    <div class="info-item d-flex">
        <i class="bi bi-envelope flex-shrink-0"></i>
        <div>
            <h4>Email:</h4>
            <p>mail@oswaldata.com</p>
        </div>
    </div><!-- End Info Item -->

    <div class="info-item d-flex">
        <i class="bi bi-phone flex-shrink-0"></i>
        <div>
            <h4>Call:</h4>
            <p>+91-731-2551745</p>
        </div>
    </div><!-- End Info Item -->

    <div class="info-item d-flex">
        <i class="bi bi-clock flex-shrink-0"></i>
        <div>
            <h4>Open Hours:</h4>
            <p>Mon-Sat: 10AM - 6PM</p>
        </div>
    </div><!-- End Info Item -->
</div>